In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# load train data
data = pd.read_csv('diabetes-classification/train.csv')
data.shape

(614, 10)

In [2]:
data.info()
print("==="*15)
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   p_id                   614 non-null    int64
 1   no_times_pregnant      614 non-null    int64
 2   glucose_concentration  614 non-null    int64
 3   blood_pressure         614 non-null    int64
 4   skin_fold_thickness    614 non-null    int64
 5   serum_insulin          614 non-null    int64
 6   bmi                    614 non-null    float64
 7   diabetes pedigree      614 non-null    float64
 8   age                    614 non-null    int64
 9   diabetes               614 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 48.1 KB
=============================================

,p_id,no_times_pregnant,glucose_concentration,blood_pressure,skin_fold_thickness,serum_insulin,bmi,diabetes pedigree,age,diabetes
0,316,2,112,68,22,94,34.1,0.315,26,0
1,25,11,143,94,33,146,36.6,0.254,51,1
2,710,2,93,64,32,160,38.0,0.674,23,1
3,658,1,120,80,48,200,38.9,1.162,41,0
4,542,3,128,72,25,190,32.4,0.549,27,1

In [3]:
# check whether there are missing data(null, np.nan ,or 0)
print("isna().sum:")
print(data.isna().sum())
# print("\nisnull().sum:")
# print(data.isnull().sum())
print("\ndata min value:")
data.min()

isna().sum:
p_id                     0
no_times_pregnant        0
glucose_concentration    0
blood_pressure           0
skin_fold_thickness      0
serum_insulin            0
bmi                      0
diabetes pedigree        0
age                      0
diabetes                 0
dtype: int64

data min value:

p_id                      1.000
no_times_pregnant         0.000
glucose_concentration     0.000
blood_pressure            0.000
skin_fold_thickness       0.000
serum_insulin             0.000
bmi                       0.000
diabetes pedigree         0.078
age                      21.000
diabetes                  0.000
dtype: float64

In [4]:
# fliter = (data == 0)
# print("Non-0 data count: ")
# print(614-data[fliter].count())

value shouldn't have 0: 
'glucose_concentration'
'blood_pressure'
'skin_fold_thickness'
'serum_insulin'
'bmi'

In [5]:
# # drop the data that have too many counts of missing value
# colume = ['skin_fold_thickness','serum_insulin']
# data[colume] = data[colume].replace(0,np.nan)
# thresh_count = data.shape[0]*0.8
# # data = data.dropna(thresh=thresh_count,axis=1)
# data = data.dropna()
# print("Drop the data that have too many counts of missing value")
# data

In [6]:
# fill the missing value
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values = 0, strategy='mean')
# col = ['glucose_concentration','blood_pressure', 'bmi']
col = ['glucose_concentration','blood_pressure', 'bmi', 'skin_fold_thickness','serum_insulin']
imp_mean.fit(data[col])
data[col] = imp_mean.transform(data[col])
print("The missing value is filled.")

The missing value is filled.

In [7]:
fliter = (data == 0)
print("0-value data count: ")
print(data[fliter].count())
data

0-value data count:
p_id                       0
no_times_pregnant         90
glucose_concentration      0
blood_pressure             0
skin_fold_thickness        0
serum_insulin              0
bmi                        0
diabetes pedigree          0
age                        0
diabetes                 400
dtype: int64

,p_id,no_times_pregnant,glucose_concentration,blood_pressure,skin_fold_thickness,serum_insulin,bmi,diabetes pedigree,age,diabetes
0,316,2,112.0,68.0,22.00000,94.000000,34.1,0.315,26,0
1,25,11,143.0,94.0,33.00000,146.000000,36.6,0.254,51,1
2,710,2,93.0,64.0,32.00000,160.000000,38.0,0.674,23,1
3,658,1,120.0,80.0,48.00000,200.000000,38.9,1.162,41,0
4,542,3,128.0,72.0,25.00000,190.000000,32.4,0.549,27,1
...,...,...,...,...,...,...,...,...,...,...
609,14,1,189.0,60.0,23.00000,846.000000,30.1,0.398,59,1
610,555,1,84.0,64.0,23.00000,115.000000,36.9,0.471,28,0
611,730,2,92.0,52.0,29.11007,157.174194,30.1,0.141,22,0
612,103,0,125.0,96.0,29.11007,157.174194,22.5,0.262,21,0
613,603,1,124.0,74.0,36.00000,157.174194,27.8,0.100,30,0

In [8]:
# look = pd.read_csv("diabetes-classification/train.csv",index_col="diabetes")
look = data.set_index('diabetes')
look.loc[1]
look.loc[1].sort_values("glucose_concentration")

,p_id,no_times_pregnant,glucose_concentration,blood_pressure,skin_fold_thickness,serum_insulin,bmi,diabetes pedigree,age
diabetes,,,,,,,,,
1,7,3,78.0,50.0,32.00000,88.000000,31.0,0.248,26
1,660,3,80.0,82.0,31.00000,70.000000,34.2,1.292,27
1,219,5,85.0,74.0,22.00000,157.174194,29.0,1.224,32
1,126,1,88.0,30.0,42.00000,99.000000,55.0,0.496,26
1,39,2,90.0,68.0,42.00000,157.174194,38.2,0.503,27
...,...,...,...,...,...,...,...,...,...
1,320,6,194.0,78.0,29.11007,157.174194,23.5,0.129,59
1,23,7,196.0,90.0,29.11007,157.174194,39.8,0.451,41
1,207,8,196.0,76.0,29.00000,280.000000,37.5,0.605,57
1,409,8,197.0,74.0,29.11007,157.174194,25.9,1.191,39
1,9,2,197.0,70.0,45.00000,543.000000,30.5,0.158,53

In [9]:
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier

In [10]:
x = data.drop(['diabetes','p_id'], axis=1)
y = data['diabetes']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, stratify=y)
x

,no_times_pregnant,glucose_concentration,blood_pressure,skin_fold_thickness,serum_insulin,bmi,diabetes pedigree,age
0,2,112.0,68.0,22.00000,94.000000,34.1,0.315,26
1,11,143.0,94.0,33.00000,146.000000,36.6,0.254,51
2,2,93.0,64.0,32.00000,160.000000,38.0,0.674,23
3,1,120.0,80.0,48.00000,200.000000,38.9,1.162,41
4,3,128.0,72.0,25.00000,190.000000,32.4,0.549,27
...,...,...,...,...,...,...,...,...
609,1,189.0,60.0,23.00000,846.000000,30.1,0.398,59
610,1,84.0,64.0,23.00000,115.000000,36.9,0.471,28
611,2,92.0,52.0,29.11007,157.174194,30.1,0.141,22
612,0,125.0,96.0,29.11007,157.174194,22.5,0.262,21
613,1,124.0,74.0,36.00000,157.174194,27.8,0.100,30

In [11]:
# RandomForestClassifier
print("RandomForestClassifier(): ")
rfc = RandomForestClassifier(max_depth=5, min_samples_split=3)
#Fit model on the training Data
rfc.fit(x_train,y_train)
#Make prediction
predictions = rfc.predict(x_test)
acc = accuracy_score(y_test,predictions)
print('Accuracy:{:.4%}'.format(acc))
f1 = f1_score(y_test,predictions)
print('F1_score:{:.4%}'.format(f1))

# MLPClassifier()
print("MLPClassifier(): ")
rfc = MLPClassifier(hidden_layer_sizes=(20,20),max_iter=200)
#Fit model on the training Data
rfc.fit(x_train,y_train)
#Make prediction
predictions = rfc.predict(x_test)
acc = accuracy_score(y_test,predictions)
print('Accuracy:{:.4%}'.format(acc))
f1 = f1_score(y_test,predictions)
print('F1_score:{:.4%}'.format(f1))

RandomForestClassifier():
Accuracy:75.6757%
F1_score:60.1770%
MLPClassifier():
Accuracy:74.0541%
F1_score:58.6207%

In [12]:
# AdaBoostClassifier()
print("AdaBoostClassifier():")
rfc = AdaBoostClassifier()
#Fit model on the training Data
rfc.fit(x_train,y_train)
#Make prediction
predictions = rfc.predict(x_test)
acc = accuracy_score(y_test,predictions)
print('Accuracy:{:.4%}'.format(acc))
f1 = f1_score(y_test,predictions)
print('F1_score:{:.4%}'.format(f1))

# DecisionTreeClassifier
print("DecisionTreeClassifier():")
rfc = DecisionTreeClassifier()
#Fit model on the training Data
rfc.fit(x_train,y_train)
#Make prediction
predictions = rfc.predict(x_test)
acc = accuracy_score(y_test,predictions)
print('Accuracy:{:.4%}'.format(acc))
f1 = f1_score(y_test,predictions)
print('F1_score:{:.4%}'.format(f1))

AdaBoostClassifier():
Accuracy:75.6757%
F1_score:62.8099%
DecisionTreeClassifier():
Accuracy:77.2973%
F1_score:67.6923%

In [13]:
# GaussianNB()
print("GaussianNB():")
rfc = GaussianNB()
#Fit model on the training Data
rfc.fit(x_train,y_train)
#Make prediction
predictions = rfc.predict(x_test)
acc = accuracy_score(y_test,predictions)
print('Accuracy:{:.4%}'.format(acc))
f1 = f1_score(y_test,predictions)
print('F1_score:{:.4%}'.format(f1))

GaussianNB():
Accuracy:76.2162%
F1_score:62.0690%

In [14]:
# load test data
test_data = pd.read_csv('diabetes-classification/test.csv')

x_test = test_data.drop('p_id', axis=1)
x_test

,no_times_pregnant,glucose_concentration,blood_pressure,skin_fold_thickness,serum_insulin,bmi,diabetes pedigree,age
0,12,140,85,33,0,37.4,0.244,41
1,6,102,90,39,0,35.7,0.674,28
2,7,97,76,32,91,40.9,0.871,32
3,7,179,95,31,0,34.2,0.164,60
4,6,87,80,0,0,23.2,0.084,32
...,...,...,...,...,...,...,...,...
149,0,129,110,46,130,67.1,0.319,26
150,1,199,76,43,0,42.9,1.394,22
151,2,88,74,19,53,29.0,0.229,22
152,0,126,84,29,215,30.7,0.520,24
153,0,146,82,0,0,40.5,1.781,44

In [15]:
# load sample_submission
sample = pd.read_csv('diabetes-classification/sample_submission.csv')

In [16]:
RT = RandomForestClassifier(max_depth=5,min_samples_split=3)
RT.fit(x_train,y_train)
fin_predictions = RT.predict(x_test)

In [17]:
output = pd.DataFrame({'p_id':test_data.p_id,'diabetes':fin_predictions})
output.to_csv('my_submission.csv', index=False)